/* ==UserStyle==
@name           instagram.com - 01/04/2023, 10:27:32
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain('instagram.com') {
    html{
        --feed-sidebar-width: 50% !important;
    }
    /* Removes Suggestions on main page */
    ._9-ta,
    .COOzN,
    ._aaka,
    ._aak4,
    ._aa1x,
    ._aak6,
    .x6bx242 {
        display: none !important;
    }
    
    
    ._aam1 {
        min-width: 100% !important;
    }
    
    .xh8yej3 {
        min-width: 50% !important;
    }
}

